<!DOCTYPE html>

<html lang="en" ng-app="UserRegisterApp">

<head>

    <meta charset="UTF-8">

    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css"/>

    <link rel="stylesheet" href="app/css/app.css"/>


    <title>User Registration Form</title>

</head>

<body data-ng-controller="UserRegisterCtrl as ctrl">

<h1 class="text-center" id="register">User Registration Form</h1>

<div class="container">

    <form name="userregisterForm" novalidate ng-submit="ctrl.register()">

        <div class="form-group required">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" class="form-control" ng-model="ctrl.username" ng-minlength="5" ng-maxlength="15" required>

            <div class="validation alert-danger" data-ng-show="userregisterForm.username.$touched || userregisterForm.$submitted">

                <div data-ng-show="userregisterForm.username.$error.required">
                    <span class="glyphicon glyphicon-alert">Username is mandatory</span>
                </div>

                <div data-ng-show="userregisterForm.username.$error.minlength">
                    <span class="glyphicon glyphicon-alert">Min must be 5 chars</span>
                </div>

                <div data-ng-show="userregisterForm.username.$error.maxlength">
                    <span class="glyphicon glyphicon-alert">Exceeded 15 chars</span>
                </div>

            </div>
        </div>

        <div class="form-group required">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" class="form-control" ng-model="ctrl.email" required>

            <div class="validation alert-danger" data-ng-show="userregisterForm.email.$touched || userregisterForm.$submitted">

                <div data-ng-show="userregisterForm.email.$error.required">
                    <span class="glyphicon glyphicon-alert">Email is mandatory</span>
                </div>

                <div data-ng-show="userregisterForm.email.$error.email">
                    <span class="glyphicon glyphicon-alert">Email is invalid</span>
                </div>
            </div>
        </div>

        <div class="form-group required">
            <label for="dob">Date of birth: </label>
            <input type="date" id="dob" name="dob" class="form-control" ng-model="ctrl.dateOfBirth" required>

            <div class="validation alert-danger" data-ng-show="userregisterForm.email.$touched || userregisterForm.$submitted">

                <div data-ng-show="userregisterForm.dob.$error.required">
                    <span class="glyphicon glyphicon-alert">Date of Birth is mandatory</span>
                </div>

                <div data-ng-show="userregisterForm.dob.$invalid">
                    <span class="glyphicon glyphicon-alert">Invalid Date of Birth</span>
                </div>

                <!--If year of birth more than or equals to 1998 age is not valid-->
                <!--If year of birth less than or equals to 1997 age is valid-->

                <div data-ng-hide="ctrl.isAgeValid()">
                    <span class="glyphicon glyphicon-alert">You must be at least 18 years old to register!</span>
                </div>
            </div>
        </div>

        <div class="form-group required">
            <label>Gender:</label>
            <div class="radio">
                <label class="radio-inline">
                    <input type="radio" name="gender"
                           ng-model="ctrl.gender" value="male">Male
                </label>
                <label class="radio-inline">
                    <input type="radio" name="gender"
                           ng-model="ctrl.gender" value="female">Female
                </label>
            </div>
        </div>

        <div class="form-group required">
            <label>Contact no:</label>

            <!--ng-pattern (alphanumeric is allowed) box is blue then green-->
            <!--Else box turns red-->

            <input type="tel" id="tel" title="Phone Number (Format: +99(99)9999-9999)" name="tel" class="form-control" ng-model="ctrl.tel" ng-pattern="/^[\w -]*$/" required>

            <div class="validation alert-danger" data-ng-show="userregisterForm.tel.$touched || userregisterForm.$submitted">

                <div data-ng-show="userregisterForm.tel.$error.required">
                    <span class="glyphicon glyphicon-alert">Contact no. is mandatory</span>
                </div>

                <div data-ng-show="userregisterForm.tel.$error.tel">
                    <span class="glyphicon glyphicon-alert">Contact no. is invalid</span>
                </div>

            </div>
        </div>

        <div class="form-group required">
            <label>Address:</label>
            <input type="text" id="address" title="address" name="address" class="form-control" ng-model="ctrl.address" required>

            <div class="validation alert-danger" data-ng-show="userregisterForm.address.$touched || userregisterForm.$submitted">

                <div data-ng-show="userregisterForm.address.$error.required">
                    <span class="glyphicon glyphicon-alert">Address is mandatory</span>
                </div>

            </div>
        </div>

        <div class="form-group required">
            <label>Country:</label>
            <input type="text" id="country" title="country" name="country" class="form-control" ng-model="ctrl.country" required>

            <div class="validation alert-danger" data-ng-show="userregisterForm.country.$touched || userregisterForm.$submitted">

                <div data-ng-show="userregisterForm.country.$error.required">
                    <span class="glyphicon glyphicon-alert">Country is mandatory</span>
                </div>

            </div>
        </div>

        <div class="form-group required">
            <label>Password:</label>
            <input type="password" id="password" title="password" name="password" class="form-control" ng-model="ctrl.pw" required>

            <div class="validation alert-danger" data-ng-show="userregisterForm.pw.$touched || userregisterForm.$submitted">

                <div data-ng-show="userregisterForm.username.$error.required">
                    <span class="glyphicon glyphicon-alert">Password is mandatory</span>
                </div>

            </div>
        </div>

        <div class="form-group col-xs-4 col-sm-4 col-md-offset-4 col-lg-offset-4">
            <button type="submit" onclick="submitFunction()" class="btn-primary form-control">Register</button>
        </div>

    </form>

</div>

<div class="container">


    <p id="submit" align="center"></p>

    <script>

        function submitFunction() {

            document.getElementById("submit").innerHTML = "You have submitted the form successfully, Thank you! ";
        }
    </script>

</div>

<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

<script src="app.js"></script>
<script src="app/js/userregister.controller.js"></script>



</body>

</html>